@font-face {
   font-family: 'COMFORTAA-REGULAR';
   font-display: swap;
   src: url('file:///C:/Users/Utilisateur/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-07-10_160401/fonts/COMFORTAA-REGULAR/font.TTF');
}
